#resultRange, #result {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

#resultRange td, #resultRange th, #result td {
    border: 1px solid #ddd;
    padding: 2px;
}

#resultRange tr:nth-child(even), #result tr:nth-child(even){background-color: #f2f2f2;}

#resultRange tr:hover, #result tr:hover {background-color: #ddd;}

#resultRange th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2196F3;
    color: white;
}

.btn {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    width: 310px;
}

.submit {background-color: #2196F3;} /* Blue */
.submit:hover {background: #0b7dda;}

.askdiv {
    width: 310px;

    position: fixed;
    left: 50%;
    margin-left: -155px;
}

.whitebg {
    background-color: White; 
    height: 120px;
    width: 100%;
    position: fixed;
}

.left-panel
{        
    position: fixed;
    left: 2%;
    margin-top: 120px;   
}
.right-panel
{        
    background-color:Gray;
    width:90%;
    height:100px;
    float:right;
}
